

.Notes-Note {
    width: 50%;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px dashed #999;
    border-radius: 10px;
}

.Notes-Note-Delete {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    cursor: pointer;
    transition: color .3s linear;
    font-size: 2.2rem;
    position: absolute;
    right: 10px;
}

.Notes-Note-Delete:hover {
    color: #f00;
}

.Notes-Note-Text {
    padding: 10px 15px;
}
